.code-example {
  height: 100%;
  font-size: 0.6rem;
  position: relative; }
  .code-example .coe-sample-header {
    position: absolute;
    width: 100%;
    height: 5rem;
    background: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem; }
    .code-example .coe-sample-header a {
      display: flex;
      text-align: center;
      color: inherit;
      text-decoration: none;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .code-example .coe-sample-header a span {
        max-width: 60%; }
  .code-example pre {
    height: 100%;
    box-sizing: border-box;
    margin: 0 !important; }
